* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: rgb(227, 224, 224);
  color: rgb(29, 29, 108);
  line-height: 1.5;
  padding-top: 70px;
}

main {
  max-width: 1100px;
  margin: auto;
  padding: 40px 20px;
}

h1 { font-size: 32px; margin-bottom: 16px; color:rgb(29, 29, 108) }
h2 { font-size: 24px; margin-bottom: 12px; color:rgb(29, 29, 108) }
h3 { font-size: 22px; margin-bottom: 8px; color: rgb(29, 29, 108)}
h4 { font-size: 20px; margin-bottom: 8px; color: rgb(29, 29, 108)}

p, ul, ol { margin-bottom: 16px; }
ul, ol { padding-left: 20px; }

nav {
  background-color: rgb(29, 29, 108);
  padding: 14px 24px;
  display: flex;
  justify-content: center;
  gap: 24px;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
}

nav a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

.section {
  background-color: white;
  border-radius: 10px;
  padding: 32px;
  margin-bottom: 40px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.card {
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

img {
  max-width: 100%;
  border-radius: 10px;
  display: block;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.tableau-container {
  width: 100%;
  max-width: 900px;
  margin: auto;
}

.tableau-container object,
.tableau-container iframe {
  width: 100%;
  height: 500px;
}

.tableauPlaceholder {
  width: 100%;
}


a { color: rgb(29, 29, 108)}
a:hover { color: #fb8500; }




